.about {
    max-width: 1265px;
    margin: 119px auto 60px;
    padding: 0 50px;

    text-align: center;
}

@media (max-width: 768px) {
    .about {
        margin: 60px auto 60px;
    }
}

/* Title */

.about__title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #747474;
}

/* Subtitle */

.about__subtitle {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #343434;

    margin-top: 18px;
}

/* List */

.about__list {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 62px;
}

@media (max-width: 768px) {
    .about__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .about__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Item */

.item {
    display: grid;
    grid-auto-flow: row;
    flex-wrap: wrap;
    grid-template-rows: auto 1fr minmax(min-content, 1fr);

    height: auto;
}

/* Image */

.item__img {
    margin: 0 auto;
}

/* Title */

.item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #343434;

    margin-top: 12px;
}

.item__title span {
    color: #DE470D;
}

/* Paragraph */

.item__paragraph {
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #747474;

    margin: 10px auto 0;

    max-width: 250px;
}