.footer {
    display: flex;
}

@media (max-width: 579px) {
    .footer {
        flex-direction: column-reverse;
    }
}

/* Left */

.footer__table-side {
    background-color: #708D92;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 80px 60px 80px 10px;

    flex: 1 1 50%;
}

@media (max-width: 579px) {
    .footer__table-side {
        padding: 30px;
        margin: 0;
    }
}

/* Table */

.footer__table {
    display: grid;
    grid-template: 1fr max-content / 1fr 1fr 1fr;

    max-width: 370px;
}

.footer__table,
.footer__logo,
.footer__definition,
.footer__paragraph {
    border: 1px solid #fff;
}

/* Image */

.footer__logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

/* Definiton */

.footer__definition {
    grid-row: 1 / 2;
    grid-column: 2 / 4;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 21px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;

    padding: 5px;
}

/* Paragraph */

.footer__paragraph {
    grid-row: 2 / 3;
    grid-column: 1 / 4;

    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;

    padding: 10px;
}

/* Copyright */

.footer__copyright {
    font-weight: 300;
    font-size: 11px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-top: 5px;
}

/* Nav */

.footer__nav-side {
    background-color: #F7F5F2;

    padding: 80px 10px 56px 60px;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    flex: 1 1 50%;
}

@media (max-width: 579px) {
    .footer__nav-side {
        padding: 30px;
    }
}

/* Title */

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #343434;

    margin-bottom: 10px;
}

/* Item */

.footer__item a {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: #747474;
    margin-bottom: 15px;
}

.footer__item:last-child a {
    margin-bottom: 0;
}