.form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(1fr, 230px) minmax(1fr, 296px) max-content;
    gap: 10px;
}

@media (max-width: 660px) {
    .form {
        grid-auto-flow: row;
        grid-template-columns: auto;
    }
}

.form input {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 5px;

    font-weight: 300;
    font-size: 20px;
    line-height: 45px;
    color: #000000;

    padding: 5px 20px;
}

/* Button */

.form__button {
    background: #343434;
    border-radius: 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    
    padding: 20px;
}