.impact {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);

    max-width: 1110px;
    min-height: 210px;
    margin: 0 auto;
    padding: 20px;

    background: #708D92;
    color: #fff;
}

.impact>div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 1px solid #FFFFFF;
}

.impact__content,
.impact__count {
    padding: 2px;
}

/* Title */

.impact__title {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.5px;
}

.impact__subtitle {
    max-width: 206px;
    margin: 25px auto 0;

    font-size: 12px;
    line-height: 22px;

}

/* Count */

.impact__number {
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.impact__paragraph {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FBDCC5;
}

/* More */

.impact__more>* {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #fff;
}

.impact__link {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}