.shop-for-good {
    background: #F7F5F2;
}

/* Container */

.shop-for-good__container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 60px 25px;
}

@media (max-width: 768px) {
    .shop-for-good__container {
        padding: 40px 10px;
    }
}

/* Title */

.shop-for-good__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    color: #343434;

    text-align: center;
}

@media (max-width: 768px) {
    .shop-for-good__title {
        font-size: 35px;
    }
}

/* Grid */

.shop-for-good__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

    margin-top: 107px;
}

@media (max-width: 768px) {
    .shop-for-good__grid {
        margin-top: 50px;
    }
}