<!-- 
    import tip

    <include src="partials/shop-item.html">
        {
            "id": "",
            "src": "./image/shop/images/01.jpg",
            "alt": "",
            "subtitle": "",
            "title": "",
            "price": "$",
            "giveback": "%"
        }
    </include>
 -->

<div class="shop-item {{ id }}">
    <img src="{{ src }}" alt="{{ alt }}" class="shop-item__img">
    <p class="shop-item__subtitle">{{ subtitle }}</p>
    <p class="shop-item__title">{{ title }}</p>
    <div class="shop-item__cost">
        <button class="shop-item__bag">Add to Bag</button> -
        <p class="shop-item__price">{{ price }}</p>
        <span class="shop-item__giveback">{{ giveback }} Giveback</span>
    </div>
</div>